@using AspNetCoreIdentity.Extensions

@{
    ViewData["Title"] = "Segredo";
}
<h1>@ViewData["Title"]</h1>

<p>Segredo!.</p>

@{
    if (this.IfClaim(claimName:"Produtos", claimValue:"Adicionar") && User.IsInRole("Admin"))
    {
        <p>Você só vera isso se tiver permissao de Adicionar</p>
    }
}


<div>@Html.ActionLink(linkText:"Secret",actionName:"Secret").IfClaimShow(Context,claimName:"Produtos", claimValue:"Adicionar")</div>

<div><a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow(claimName:"Produtos", claimValue:"Adicionar"))">Excluir</a></div>