
@* // Aula 4.6 ViewComponents
{  //Passo 3 criar Default e o item que vai ser o component*@

@model int 
@*Acima define o tipo da Model que esta sendo conectada*@

<span class = "fa fa-shopping-cart fa-2x">@Model</span> 
 @*chamando a model com @Model*@

