@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Formas para Chamar uma Partial View -->
<partial name="_AvisoGeral"></partial>
@*<partial name="_AvisoGeral.cshtml"></partial>*@
@*@await Html.PartialAsync("_AvisoGeral")*@
<!---->


   
<p>Use this page to detail your site's privacy policy.</p>
